.section-operaciones{
    border: 2px solid rgb(196, 196, 196);
    height: 480px;
    box-shadow: 0px 0px 5px gray;
    border-radius: 10px;
    
    .menu{
        height: 100%;
        font-size: 1.1rem;
        font-weight: bold;
        width: 100%;
        background-color: #1A1A1A;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        

        ul{
            list-style-type:none;
            padding: 0;
            text-align: center;

            li{
                padding: 10px 0;
                margin: 10px 0;
                line-height: normal;
                background-color: #1A1A1A;
                border-bottom-right-radius: 25px;
                border-top-right-radius: 25px;
                border: 1px solid rgb(190, 190, 190);
                box-shadow: 0px 0px 5px rgb(190, 190, 190);
                transition: .4s ease;
            }


            li.seleccionado{
                background-color: #4EC24E;
                color: black;
                transform: translateX(10px);
                transition: .2s ease;
            }

            li.seleccionado:hover{
                transform: translateX(0px);
                background-color: #4EC24E;
            }

            li:hover{
                background-color: white;
                color: black;
                transform: scale(1.03);
                // transform: translateX(10px);
                transition: .4s ease;
                cursor: pointer;
            }

        }

    

    }

    .salida{
        background-color: white;
        height: 60%;
        border-radius: 5px;
        display: flex;
        font-size: 1.5rem;
        overflow: auto;
        text-align: center;
        justify-content: center;
        align-items: center;

    }

    .workin-space{
        border-left: 5px solid white;
        height: 100%;
        background-color: #1A1A1A;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-left-style: 1px solid white;

        h3{
            width: 100%;
            text-align: center;
            // margin: 30px 0 0 0;
            color: white;
            padding: 30px 0 0 0;
            font-size: 1.7rem;
        }

        .limpio{
            width: 70%;
            height: 100%;
            margin: 0 auto;
            
            .images{
                width: 100%;
                height: 70%;
                margin: 0 auto;
                padding-top: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
            
                img{
                    height: 150px;
                    width: 150px;
                    margin: 60px 0 0 20px;
                    opacity: .2;
                }

            }

            p{
                font-size: 1.5rem;
                line-height: normal;
                text-align: center;
            }
        }

        .inverso{

            width: 100%;
            height: 100%;
            // background-color: red;

            &__form{
                width: 70%;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 40px auto;
                
                .form-group{
                    margin-top: 20px 0 0 0;
                    display: flex;
                    width: 100%;
                    label{
                        margin-right: 20px;
                        color: white;
                        padding: 0;
                    }
                    select{
                        border-radius: 5px;
                        font-size: 1rem;
                    }
                }


                .boton{
                    background-color: #45AC4E;
                    position: relative;
                    bottom: 8px;
                    right: 20px;
                    border-radius: 5px;
                    // width: 70px;
                    height: 48px;
                    margin-left: 20px;
                    font-size: 1rem;
                }

                .boton:hover{
                    background-color: #54db54;
                }

            }

        }

    }

}